.home-page {
    padding: 3rem 10rem;
    color: var(--white);

    .home-page-heading {
        font-size: 3rem;
    }

    .home-page-text {
        font-size: 2rem;
        line-height: 3rem;
        padding-right: 20rem;
    }

    .color {
        color: var(--light-purple);

        &.link:hover {
            border-bottom: 1px solid var(--light-purple);
        }
    }
}