<section class="home-page">
    <article>
        <h2 class="home-page-heading"><span class="color">JOIN</span> the chatroom platform now!</h2>
    
        <p class="home-page-text">Here you can share your thoughts and interests with other people right away!
            <span (click)="goToRegister()" class="color link">Register</span>
            if you don’t have an account yet, or
            <span (click)="goToLogin()" class="color link">login</span>
            if you do!
        </p>
    </article>

    <article>
        <h1>Hello world!</h1>
    </article>
</section>