<section class="register-form">
    <h2 class="register-heading">Register</h2>

    <form (ngSubmit)="register()" [formGroup]="checkoutForm" >
        <label class="register-field">
            <span>Username:</span>
            <input type="email" name="email" placeholder="john@doe.com" formControllerName="email" />
        </label>

        <label class="register-field">
            <span>Password:</span>
            <input type="password" name="password" placeholder="***********" formControllerName="password" />
        </label>

        <label class="register-field">
            <span>Repeat Password:</span>
            <input type="repeat-password" name="repeat-password" placeholder="***********" formControllerName="repeat-password" />
        </label>

        <input class="register-field submit" type="submit" value="submit" />
    </form>
</section>