<header class="app-header">
    <a routerLink="/" class="logo">
        <span class="logo-color">Chat</span>
        <span>Room</span>
    </a>

    <nav class="app-navigation">
        <ul class="app-navigation-list">
            <li *ngIf="!isLogged" class="app-navigation-list-item"><a routerLink="/about-us" routerLinkActive="active-link" >About us</a></li>
            <li *ngIf="!isLogged" class="app-navigation-list-item"><a routerLink="/login" routerLinkActive="active-link" >Login</a></li>
            <li *ngIf="!isLogged" class="app-navigation-list-item"><a routerLink="/register" routerLinkActive="active-link" >Register</a></li>
            <li *ngIf="isLogged" class="app-navigation-list-item"><a routerLink="/chatrooms" routerLinkActive="active-link" >Chatrooms</a></li>
            <li *ngIf="isLogged" class="app-navigation-list-item"><a routerLink="/profile" routerLinkActive="active-link" >Profile</a></li>
            <li *ngIf="isLogged" (click)="logout()" class="app-navigation-list-item"><a>Logout, {{userDetails!.username}}</a></li>
        </ul>
    </nav>
</header>