<section class="card">
    <img class="card-img" [src]="chatroom!.image" [alt]="chatroom!.name" width="345" height="200">
    <h2 class="card-heading">{{chatroom!.name}}</h2>
    <p class="card-description">{{chatroom!.description}}</p>
    <p class="card-date">{{chatroom!.created_at | date : 'MM/dd/YYYY, HH:mm:ss'}}</p>

    <section *ngIf="user!._id == chatroom!.creator" class="modify">
        <button class="edit" (click)="editChatroom()" >Edit</button>
        <button class="delete" (click)="deleteChatroom()" >Delete</button>
    </section>

    <button *ngIf="(user!._id != chatroom!.creator) && (!chatroom!.members.includes(user!._id))" (click)="joinChatroom()" class="join">Join</button>
    <button *ngIf="(user!._id != chatroom!.creator) && (chatroom!.members.includes(user!._id))" (click)="leaveChatroom()" class="leave">Leave</button>
</section>