<section class="card">
    <img class="card-img" [src]="chatroom!.image" [alt]="chatroom!.name" width="345" height="200">
    <h2 class="card-heading">{{chatroom!.name}}</h2>
    <p class="card-description">{{chatroom!.description}}</p>
    <p class="card-date">{{chatroom!.created_at | date : 'MM/dd/YYYY, HH:mm:ss'}}</p>

    <section class="modify">
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </section>

    <!-- <button class="join">Join</button> -->
    <!-- <button class="leave">Leave</button> -->
</section>