<section class="about-us">
    <h2 class="about-us-heading">The online <span class="color">chatroom</span> platform</h2>

    <p class="about-us-text">
        This platform was created to
        <span class="color">connect people</span>
        with common interests and thoughts in different
        <span class="color">chatrooms</span>
        . Each chatroom has a topic and set of rules, defined by its creator.
    </p>

    <p class="about-us-text">
        You can
        <span class="color">browse</span>
        the created chatrooms,
        <span class="color">filter</span>
        them by topics and if you can’t find the topic you are looking for, you can
        <span class="color">create</span>
        a new chat with the given topic yourself!
    </p>
</section>